<%= form_with(model: picture, local: true, url: choose_new_or_edit) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
    <th><%= form.label :title %></th>
    <td><%= form.text_field :title, size: "25*25" %></td>
    </tr>


    <tr>
    <th><%= form.label :content %></th>
    <td><%= form.text_field :content, size: "25*25" %></td>
    </tr>

    <tr>
    <th><%= form.label :image %></th>
    <td><%= form.file_field :image %></td>
    <th><%= form.hidden_field :image_cache %></th>
    <th><%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %></th>
    </tr>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
