<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @picture.content %>
</p>

<% if @picture.image? %>
  <%= image_tag @picture.image.url, size: '410x300' %>
<% end %>
<br><br>

<%= link_to '編集', edit_picture_path(@picture), class: "btn btn-info" %> |
<%= link_to '投稿一覧へ', pictures_path, class: "btn btn-warning" %> 
