<!DOCTYPE html>
<html>
  <head>
    <title>RailsTask3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
              <span class="sr-only">Bootstrap</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Instagram Clone</a>
          </div>

          <div id="gnavi" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <% if logged_in? %>
                <li><%= link_to "#{current_user.name}さんのマイページ", user_path(current_user.id) %></li>
                <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
                <li><%= link_to "投稿する", new_picture_path %></li>
                <li><%= link_to "投稿一覧", pictures_path %></li>
              <% else %>
                <li><%= link_to "トップページ", root_path %></li>
                <li><%= link_to "ログイン", new_session_path %></li>
                <li><%= link_to "新規登録", new_user_path %></li>
              <% end %>
              
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <% flash.each do |key,value| %>
      <%= content_tag(:div,value,class:"#{key}") %>
      <% end %>
    <%= yield %>
  </body>
</html>
